/* poppins-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/poppins-v24-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --first-color-alt: #d42b39;
  --first-color: #dc3845;
  --title-color: #282525;
  --text-color: #5d5656;
  --text-color-light: #918889;
  --body-color: #ffffff;
  --container-color: #ffffff;
}
.dark-mode {
  --first-color-alt: #d42b39;
  --first-color: #db4d59;
  --title-color: #f3f2f2;
  --text-color: #c2bdbd;
  --text-color-light: #918889;
  --body-color: #251819;
  --container-color: #2f2223;
}

html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  font-size: 1.6rem;
}
span {
  font-size: 1.6rem;
}
.container {
  max-width: 1280px;
  width: 100%;

  margin: 0 auto;
}
button {
  outline: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--body-color);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.nav-div {
  padding: 24px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: var(--title-color);
  }
}
.nav-f {
  display: flex;
  gap: 48px;
}
.nav-div:hover a {
  color: var(--first-color-alt);
}
.box__logo {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--title-color);
}
.box__img {
  width: 24px;
  height: 24px;
}
.main__information {
  justify-content: center;
  padding-top: 64px;
  gap: 20px;
  display: flex;
  align-items: center;
}
.main__text__ {
  h2 {
    font-size: 4rem;
    color: var(--title-color);
    padding-bottom: 16px;
  }
}

.main__text_p {
  font-size: 1.6rem;
  color: var(--text-color);
  padding-bottom: 48px;
}
.nav__ico {
  display: none;
}
.main__img {
}
.main__button {
  padding: 20px 56px;
  border-radius: 64px;
  color: var(--container-color);
  background-color: var(--first-color);
  border: none;
  font-size: 1.6rem;
  line-height: 100%;
}
.main__button:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
}
.main__button:hover {
  background-color: var(--first-color-alt);
  color: #c2bdbd;
}
.main__text {
  padding-top: 72px;
  text-align: center;
  padding-bottom: 64px;
  h2 {
    font-size: 2.4rem;
    line-height: 100%;
    font-weight: 600;
  }
}
.main__hero_ {
}
.main__hero {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 139px;

  h3 {
    padding-top: 12px;
    padding-bottom: 4px;
    font-size: 2rem;
    color: var(--text-color);
  }
  p {
    font-size: 1.4rem;
    color: var(--text-color-light);
  }
}
.main__img_hero {
  width: 120px;
  height: 120px;
}
.main__kamin {
  justify-content: center;

  display: flex;
  align-items: center;
  gap: 88px;
  h2 {
    padding-bottom: 14px;
    font-size: 2.4rem;
    color: var(--title-color);
  }
  p {
    font-size: 1.6rem;
    color: var(--text-color-light);
    padding-bottom: 44px;
  }
}
.main__kamin__button {
  padding: 20px 40px;
  border-radius: 64px;
  color: var(--body-color);
  background-color: var(--first-color);
  border: none;
}
.main__kamin__button:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
}
.kart__hero_img {
  padding-left: 40px;
  padding-top: 20px;
}
.main__kart_text {
  text-align: center;
  font-size: 2.4rem;
  line-height: 100%;
  font-weight: 500;

  transition: 0.3s linear;
}

.main__kart {
  border: 1px solid rgba(102, 99, 99, 0.1);
  position: relative;
  padding: 24px;
  width: 200px;
  height: 247px;
  border-radius: 12px;
  background-color: var(--container-color);
  transform: translateY(7px);
  transition: 0.3s ease;
  h2 {
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 600;
    line-height: 100%;
  }
  p {
    line-height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
  }
}

.main__kart:hover {
  box-shadow: -1px 31px 12px 0px rgba(34, 60, 80, 0.2);
  transition: 0.3s linear;
  transform: translateY(-13px);
}
.kart__hero_img {
  width: 120px;
  height: 120px;
}
.kart__icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.main__karts {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: 40px;
  justify-content: center;
}

.main__scrool_text {
  padding-bottom: 64px;
  padding-top: 72px;
  text-align: center;
  font-size: 2.4rem;
  color: var(--title-color);
}

.main__best {
  width: 230px;
  height: 288px;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 12px;
  transform: translateY(7px);
  transition: 0.3s ease;
  overflow: hidden;
  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--title-color);
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 21px;
    color: var(--text-color-light);
  }
}
.main__best:hover {
  box-shadow: -1px 31px 12px 0px rgba(34, 60, 80, 0.2);
  transition: 0.3s linear;
  transform: translateY(-13px);
}
.main__bottom_img {
  position: absolute;
  top: 14px;
  right: 40px;
}
.main_best_bottom {
  position: absolute;
  left: 195px;
  bottom: 0px;
  overflow: hidden;
}
.main_scrooll {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.text {
  padding-bottom: 64px;
  padding-top: 72px;
  text-align: center;
  font-size: 2.4rem;
  color: var(--title-color);
  display: none;
}
.main__massege {
  margin-top: 90px;
  margin-bottom: 73px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--first-color);
  border-radius: 32px;
  gap: 65px;
}
.main__massege_text {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 3.6rem;
    padding-bottom: 24px;
    color: var(--container-color);
  }
}
.title {
  padding-top: 60px;
  text-align: center;
}
.main__massege_input {
  padding: 18px;
  padding-left: 24px;
  padding-right: 110px;
  border-radius: 64px;
  outline: none;
  border: none;
  margin-bottom: 13px;
}
.main__massege_button {
  width: 175px;
  padding: 16px;
  border-radius: 64px;
  border: none;
  color: var(--container-color);
  background-color: var(--title-color);
  margin-bottom: 49px;
  transition: 0.3s linear;
}
.main__massege_button:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
  background-color: var(--text-color);
}
.fotter__text {
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    color: var(--text-color-light);
  }
  h5 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    color: var(--text-color-light);
    padding-bottom: 44px;
  }
}
.fotter__img_icon {
  width: 24px;
  height: 24px;
}
.fotter__text_hero {
  display: flex;
  gap: 10px;
}
.fotter__hero {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h5 {
    font-size: 2rem;
    font-weight: 600;
    padding-right: 24px;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color-light);
  }
}
.footer-market {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .main__information {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .main__text_p {
    padding: 0px;
  }
  .nav-f {
    display: none;
  }
  .nav___ico {
    display: inline-block;
  }

  .main__kamin {
    padding-left: 30px;
    p {
      display: none;
    }
  }
  .main_scrooll {
    padding-top: 300px;

    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  .main__best {
    min-width: 200px;
    flex-shrink: 0;
  }
}

@media (max-width: 450px) {
  .main__information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .nav-f {
    display: none;
  }
  .nav___ico {
    display: inline-block;
  }
  .main__button {
    margin: 0 auto;
    margin-left: 23%;
  }
  .main__img {
    width: 100%;
  }
  .main__hero {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 30px;
  }
  .main__hero_ {
    flex-direction: row;
  }
}
@media (max-width: 450px) {
  .main__kamin {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    padding-left: 0px;
    gap: 0px;

    h2 {
      text-align: center;
    }
    p {
      display: inline-block;
      text-align: center;
    }
  }
  .main__kamin__button {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .main__kamin_img {
    width: 280px;
  }

  .main__kart_text {
    padding-top: 10px;
  }

  .main__karts {
    display: flex;
  }
  .main_scrooll {
    padding-top: 12px;

    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  .main__best {
    min-width: 200px;
    flex-shrink: 0;
  }
  .text {
    display: inline-block;
  }
  .main__massege {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .fotter__hero {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
  }
}
